:root {
  /* Colours */
  --primary-bg-color: #fceb94; /* used */
  --primary-font-color: #000000; /* used */

  --secondary-bg-color: #ea0c0c; /* used */
  --secondary-font-color: #ffffff; /* used */

  /* CAN BE DELETED WHEN THE PLACEHOLDER CLASS IS DELETED */
  --placeholder-bg-color: #926a24; /* used */
  --placeholder-font-color: #122d47; /* used */

  /* NOT USED AT THE MOMENT */
  --info-color: #487880;
  --warning-color: #ffc107;
  --danger-color: #dc3545;

  /* Borders */
  --border-color: #007bff00; /* used */
  --border-color-light: #fff707; /* used */
  --border-radius: 0.25rem;

  /* Links */
  --link-color: #ffffff; /* used */
  --hover-color: #0681d3; /* used */
  --active-color: #a30d0d; /* used */

  /* From styletile */

  /* Fonts */
  --logotype-font: "Roboto", sans-serif;
  --headline-font: "Roboto", sans-serif;
  --body-font: "Roboto", sans-serif;
  --link-font: "Calibri", sans-serif;

  /* Text sizes */
  --logotype-size: 1.5rem;
  --headline1-size: 2rem;
  --headline2-size: 1.5rem;
  --headline3-size: 1.25rem;
  --bodytext-size: 1rem;
  --cta-text-size: 1.25rem;
  --followup-text-size: 0.8rem;
  --form-submit-size: 1rem;

  /* Text colors */
  --logotype-color: #ffffff;
  --headline-color: #ffffff;
  --headline-color-inverted: #ffffff;
  --bodytext-color: #01070c;
  --bodytext-color-inverted: #2e861c;
  --cta-text-color: #17a817;
  --cta-text-color-inverted: #bbc3ca;
  --followup-text-color: #575c61;
  --followup-text-color-inverted: #56a812;
  --formfield-text-color: #ffffff;
  --form-submit-color: #bbc3ca;
  --form-submit-color-inverted: #ffffff;

  /* Background colors */
  --logotype-background-color: #000000;
  --header-background-color: #ff4b00;
  --article-background-color: #ffffff;
  --news-background-color: #192f72;
  --news-background-color-inverted: #dbe2f5;
  --info-background-color: #ffffff;
  --headline-bg-color: #385a8d;
  --headline-bg-color-alert: #ff4b00;
  --headline-bg-color-inverted: #000000;
  --bodytext-bg-color: #132866;
  --bodytext-bg-color-inverted: #3b7c1d;
  --cta-text-bg-color: #4a7518;
  --cta-text-bg-color-inverted: #aa1c1c;
  --followup-text-bg-color: #ffffff;
  --followup-text-bg-color-inverted: #ffffff;
  --form-background-color: #143bc9;
  --form-text-color: #1b2f6b;
  --formfield-background-color: #d31fac;
  --formfield-background-color-active: #c01595;
  --form-submit-bg-color: #d524e6;
  --form-submit-bg-color-inverted: #c5149f;

  /* Info-boxes */
  --info-bg-color-yellow: #fceb94;
  --info-bg-color-green: #def5db;
}

.headright {
  background-color: #1076d6;
}

fieldset {
  background-color: #520505e0;
  color: white;
}

#form-section {
  background-color: #ffffffe0;
}

input:hover {
  border-color: rgb(16, 16, 174);
}

textarea:hover {
  border-color: rgb(16, 16, 173);
}

input:user-invalid {
  border-color: red;
}

input:user-valid {
  border-color: green;
}

textarea:user-invalid {
  border-color: red;
}

textarea:user-valid {
  border-color: green;
}
